/* body {
    background: #fff;
} */

p {
    color: #263238 ;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.display-4 {
    font-size: 2rem;
}

.lead {
    font-size: 1rem;
}

.alert-primary: {
    position: fixed;
    bottom: 1rem;
}