/* body {
    background: #fff;
} */

p {
    color: #263238 ;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.display-4 {
    font-size: 2rem;
}

.lead {
    font-size: 1rem;
}

.alert-primary: {
    position: fixed;
    bottom: 1rem;
}

.col-7 {
    margin-top: 30px;
}
.col-3 {
    margin-top: 30px;
}

a:not([href]) {
    color: #90a4ae;
}

/* Range slider */
.rc-slider-track {
    background-color: #90a4ae ;
}

.rc-slider-dot-active {
    border-color: #90a4ae;
}

.rc-slider-handle {
    border: solid 2px #212529;
}

.rc-slider-handle:focus {
    border: solid 2px #212529;
}

.rc-slider-handle:hover {
    border: solid 2px #212529;
}